*{
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    
    #dashboard{
        position: relative;
        display: none;
        width: 100%;
    }

    #landing{
        position: relative;
        display: inline-block;
        width: 100%;
    }

    #tripDisplay{
        overflow-x: auto;
        white-space: nowrap;
    }


    .suitcase{
        position: absolute;
        display: inline-block;
        text-align: left;
        padding: 14px;
        border: solid, 1px, black;
    }
}


