*{
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    
    main{
        text-align: center;
        background: lightblue;
    }

    #landing{
        position: relative;
        display: inline-block;
        padding: 15px;
        width: 100%;
    }

    #sign-in, #sign-up{
        border: solid, 1px, black;
        padding: 15px;
    }


    #tripDisplay{
        display: inline-block;
        text-align: left;
        overflow-x: auto;
        white-space: nowrap;
        background: lightyellow;
    }

    #dashboard{
        position: relative;
        display: none;
        width: 100%;
    }

    .suitcase{
        position: absolute;
        text-align: left;
        padding: 14px;
        border: solid, 4px, black;
        background: lightseagreen;
        float: left;
    }

    .destination, .duration{
        font-size: 20px;
    } 
}


